/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h1
/lib/libriemann-client.la
/lib/riemann/proto/
/src/riemann-client
/tests/check_libriemann
*~
*.o
*.lo
.deps/
.libs/
.dirstamp
