/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/coverage.info
/coverage.info.html
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/*.m4
/missing
/stamp-h1
/lib/libriemann-client.la
/lib/riemann/proto/
/lib/riemann-client.pc
/src/riemann-client
/src/riemann-client.1*
/tests/check_libriemann
/test-driver
/debian/autoreconf.*
/debian/build-tree/
/debian/files
/debian/libriemann-client0/
/debian/libriemann-client-dev/
/debian/riemann-c-client/
/debian/tmp/
/debian/*.log
/debian/*.debhelper
/debian/*.substvars
*~
*.o
*.lo
.deps/
.libs/
.dirstamp
*.tar.*
*.gcno
*.gcda
